/********************* Home Page **********************/

.dropdown-menu {
  margin: 0px;
  width: 210px;
  display: inline-block;
  align-self: auto;
}

.dropdown-item {
  margin-left: 0px;
  width: 120px;
}

.parent {
  height: auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: stretch;
  background-color: #E5E5E5;
}

.leftSection {
  width: 200px;
  height: auto;
  background: #62B6CB;
}

/* .rightSection {
  width: auto;
  background: #E5E5E5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
} */

.mainTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #E5E5E5;
  padding: 50px;
  margin: 0;
}

.mainTitle h1 {
  font-size: 35;
  font: Roborto;
  margin: 0;
}

.firstRightSection {
  height: 400px;
  background: white;
  display: flex;
  justify-content: left;
  flex-direction: row;
  align-items: center;
  padding-left: 250px;
  align-content: space-around;
}

.firstRightSectionLeftTexts {
  width: 375px;
  background-color: white;
}

.firstRightSectionRightImage {
  height: 375px;
  padding-left: 30px;
}

.doggo {
  position: absolute;
  width: 480px;
  height: 299px;
  left: 825px;
  top: 255px;
  border-radius: 20px;
}

.bookings {
  width: 800px;
  height: 200px;
  background-color: white;
  margin-left: 391px;
  margin-top: 100px;
  border-radius: 20px;
  margin-bottom: 100px;
}


.bookingstext1 {
  position: absolute;
  width: 538px;
  height: 34px;
  left: 540px;
  top: 678px;
  padding-top: 60px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #000000;
}

.bookingsbutton {
  position: absolute;
  width: 579px;
  height: 70px;
  left: 499px;
  top: 738px;
  background: #62B6CB;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 45px;
  margin-top: 50px;
}

.bookButtonText {
  padding-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  color: #FFFFFF;
}

/******************** Sign In Page *******************/
.signInBox {
  width: 800px;
  height: 280px;
  background-color: white;
  margin-left: 370px;
  margin-top: 150px;
  border-radius: 20px;
  position: absolute;
  padding: 50px;
}

.signInButtonText {
  position: absolute;
  width: 409px;
  height: 66px;
  left: 200px;
  top: 320px;
  color: white;
  font-size: 28;
  background: #1B4965;
  border-radius: 10px;
}

.signInErrorBox {
  width: 900px;
  height: 480px;
  margin-left: -100px;
  margin-top: 150px;
  border-radius: 20px;
  position: absolute;
  padding: 50px;
};

/*************** Sitter Registration *************/
.sitterRegistrationBox {
  width: 900px;
  height: 800px;
  background-color: white;
  margin-left: 1000px;
  margin-top: 1000px;
  border-radius: 20px;
  /* position: absolute; */
  padding: 50px;
  display: flex;
  flex-direction: row
}

.formWrapper {
  padding: 50px;
  background-color: white;
  border-radius: 20px;
  width: 1400px;
  margin-left: 60px;
}


.registerSitter {
  position: absolute;
  width: 409px;
  height: 66px;
  left: 560px;
  top: 880px;
  color: white;
  font-size: 28;
  background: #1B4965;
  border-radius: 10px;
  z-index: 5;
}

.sitterErrorBox {
  width: 900px;
  height: 480px;
  margin-left: 200px;
  margin-top: 800px;
  border-radius: 20px;
  position: absolute;
  padding: 50px;
  z-index: 2;
}

/************** Edit sitter profile ***********/
.instructionTitle {
  position: absolute;
  align-self: center;
  margin-top: 100px;
  margin-left: 00px;
  z-index:1;
}

.sitterUpdateBox {
  width: 800px;
  height: 1070px;
  background-color: white;
  margin-left: 360px;
  margin-top: 150px;
  border-radius: 20px;
  position: absolute;
  padding: 50px;
}

.sitterFTUpdateBox {
  width: 800px;
  height: 370px;
  background-color: white;
  margin-left: 330px;
  margin-top: 150px;
  border-radius: 20px;
  position: absolute;
  padding: 50px;
}

.updateSitter {
  position: absolute;
  width: 409px;
  height: 66px;
  left: 200px;
  top: 980px;
  color: white;
  font-size: 28;
  background: #1B4965;
  border-radius: 10px;
}

.updateFTSitter {
  position: absolute;
  width: 409px;
  height: 66px;
  left: 180px;
  top: 470px;
  color: white;
  font-size: 28;
  background: #1B4965;
  border-radius: 10px;
  z-index: 10;
}

.noLeaveErrorBox {
  width: 850px;
  height: 480px;
  margin-left: 320px;
  margin-top: 500px;
  border-radius: 20px;
  position: absolute;
  padding: 50px;
  z-index: 5;
};


/*************************************************************************************************** Calender CSS ***********************************************************************************************************/
/* * {
  margin: 0;
  border: 0;
} */
/* body {
  flex-direction: column;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-family: "DINPro", "Helvetica Neue", sans-serif;
  padding: 3rem;
  margin: 0;
  background: #fafafa;
  box-sizing: border-box;
  height: 100vh;

} */
.offset {}

.outer {
  position: relative;
}

.calendar {
  margin: 0 auto;
  max-width: 1280px;
  min-width: 500px;
  box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.2), 0px 3px 7px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.wrap {
  overflow-x: hidden;
  overflow-y: scroll;
  max-width: 1280px;
  height: 500px;
  border-radius: 8px;
}

thead {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

thead th {
  text-align: center;
  width: 100%;
}

header {
  background: #fff;
  padding: 1rem;
  color: rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px 8px 0px 0px;
}

header h1 {
  font-size: 1.25rem;
  text-align: center;
  font-weight: normal;
}

tbody {
  position: relative;
  top: 100px;
}

table {
  background: #fff;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.headcol {
  width: 60px;
  font-size: 0.875rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  padding: 0.25rem 0;
  text-align: center;
  border: 0;
  position: relative;
  top: 2px;
  border-bottom: 1px solid transparent;
}

thead th {
  font-size: 1rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.9);
  padding: 1rem;
}

thead {
  z-index: 2;
  background: white;
  border-bottom: 2px solid #ddd;
}

tr, tr td {
  height: 20px;
}

td {
  text-align: center;
}

tr:nth-child(odd) td:not(.headcol) {
  border-bottom: 1px solid #e8e8e8;
}

tr:nth-child(even) td:not(.headcol) {
  border-bottom: 1px solid #eee;
}

tr td {
  border-right: 1px solid #eee;
  padding: 0;
  white-space: none;
  word-wrap: nowrap;
}

tbody tr td {
  position: relative;
  vertical-align: top;
  height: 40px;
  padding: 0.25rem 0.25rem 0 0.25rem;
  width: auto;
}

.secondary {
  color: rgba(0, 0, 0, 0.4);
}

.checkbox {
  display: none;
}

.checkbox+label {
  border: 0;
  outline: 0;
  width: 100px;
  heigth: 100px;
  background: white;
  color: transparent;
  display: block;
  display: none;
}

/* .checkbox:checked + label {
    border: 0;
    outline: 0;
    width: 100%;
    heigth: 100%;
    background: red;
    color: transparent;
    display: inline-block;
} */
/*
.event {
  background: #00B4FC;
  color: white;
  border-radius: 2px;
  text-align: left;
  font-size: 0.875rem;
  z-index: 2;
  padding: 0.5rem;
  overflow-x: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

.event:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  background: #00B4FC;
}

.event.double {
  height: 200%;
} */
/**
thead {
    tr {
      display: block;
      position: relative;
    }
  }
tbody {
    display: block;
    overflow: auto;
    width: 800px;
    height: 100%;
  }
*/
calendar.td:hover:after {
  content: "+";
  vertical-align: middle;
  font-size: 1.875rem;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
}

button.secondary {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: white;
  padding: 0.5rem 0.75rem;
  font-size: 14px;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-weight: 500;
}

button.secondary:hover {
  background: #fafafa;
}

button.secondary:active {
  box-shadow: none;
}

button.secondary:focus {
  outline: 0;
}

/* tr td:nth-child(2), tr td:nth-child(3), .past {
  background: #fafafa;
} */
/* .today {
  color: red;
}

.now {
  box-shadow: 0px -1px 0px 0px red;
} */
.icon {
  font-size: 1.5rem;
  margin: 0 1rem;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

.icon:hover {
  color: red;
}

/************************************************************************************************ End of CSS Calender *******************************************************************************************************/
/****************** Sign Up Page *****************/
.signUpBox {
    width: 900px;
    height: 320px;
    background-color: white;
    margin-left: 330px;
    margin-top: 150px;
    border-radius: 20px;
    position: absolute;
    padding: 50px;
}

.errorBox {
  width: 900px;
  height: 480px;
  margin-left: 200px;
  margin-top: 590px;
  border-radius: 20px;
  position: absolute;
  padding: 50px;
}

.signUpButtonText {
  position: absolute;
  width: 409px;
  height: 66px;
  left: 230px;
  top: 370px;
  color: white;
  font-size: 28;
  background: #1B4965;
  border-radius: 10px;
}



/**************** Caretaker Profile **************/


.RatingsBox {
  width: 800px;
  height: 200px;
  background-color: white;
  margin-left: 360px;
  margin-top: 150px;
  border-radius: 20px;
  position: absolute;
  padding: 25px;
  display: flex;
  justify-content: flex-start;
}

.registerSitterMessage {
  width: 750px;
  height: 200px;
  background-color: white;
  margin-left: 360px;
  margin-top: 150px;
  border-radius: 20px;
  position: absolute;
  padding: 25px;
  display: flex;
  justify-content: flex-start;
  text-align: center;
}

.registerSitterMessageText {
  width: 800px;
  height: 200px;
  margin-left: 130px;
  margin-top: 0px;
  border-radius: 20px;
  position: absolute;
  padding: 25px;
  display: flex;
  justify-content: flex-start;
  text-align: center;
}
.registerPetMessageText {
  width: 800px;
  height: 200px;
  margin-left: 80px;
  margin-top: 0px;
  border-radius: 20px;
  position: absolute;
  padding: 25px;
  display: flex;
  justify-content: flex-start;
  text-align: center;
}

.registerSitterMessageButton {
  width: 1000px;
  height: 100px;
  margin-left: 260px;
  margin-top: 50px;
  border-radius: 20px;
  position: absolute;
  padding: 25px;
  display: flex;
  justify-content: flex-start;
  text-align: center;
}

.ratingsLeftCol {
  width: 375px;
  background-color: white;
}

.checked {
  color: orange;
}

.ratingsRightCol {
  width: 375px;
  background-color: white;
}

.DetailsBox {
  width: 800px;
  height: 215px;
  background-color: white;
  margin-left: 360px;
  margin-top: 400px;
  border-radius: 20px;
  position: absolute;
  padding: 23px;
  display: flex;
  justify-content: flex-start;
}

.detailsLeftCol {
  width: 375px;
  background-color: white;
}

.detailsRightCol {
  width: 375px;
  background-color: white;
  padding-left: 148px;
}

.pricingBox {
  width: 800px;
  height: 320px;
  background-color: white;
  margin-left: 360px;
  margin-top: 670px;
  border-radius: 20px;
  position: absolute;
  padding: 23px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.noborderright {
  border-right: 0px;
}

.availabilityBox {
  width: 800px;
  height: 550px;
  background-color: white;
  margin-left: 360px;
  margin-top: 1055px;
  border-radius: 20px;
  position: absolute;
  padding: 23px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

/********* Search and search results *********/
.noResults {
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: #e5e5e5;
}

.searchSitterBox {
  width: 1000px;
  height: 400px;
  background-color: white;
  margin-left: 250px;
  margin-top: 20px;
  margin-bottom: 130px;
  border-radius: 20px;
  /* position: absolute; */
  padding: 25px;
  display: flex;
  /* justify-content: flex-start; */
}

.searchSitter {
  position: absolute;
  width: 409px;
  height: 66px;
  left: 550px;
  top: 650px;
  color: white;
  font-size: 28;
  background: #1B4965;
  border-radius: 10px;
  z-index: 30;
}

.noPetsErrorBox {
  width: 850px;
  height: 480px;
  margin-left: 320px;
  margin-top: 650px;
  border-radius: 20px;
  position: absolute;
  padding: 50px;
  z-index: 20;
};


.searchResultBox {
  width: 800px;
  height: 2000px;
  background-color:white;
  margin-left: 0px;
  margin-top: 150px;
  border-radius: 20px;
  position: absolute;
  padding: 25px;
  display: flex;
  justify-content: flex-start;
}

.resultLeftBox {
  margin-left: 250px;
  margin-top: 5px;
  margin-right: 220px;
  margin-bottom: -10px;
  border-radius: 10px;
  padding-left: 25px;
  padding-right: 650px;
  padding-top: 5px;
  padding-bottom: 2px;
  background-color:white;
  flex-direction: row;
}

.resultRightBox {
  margin-right: 280px;
  margin-top: -30px;
  margin-left: 20px;
  display: flex;
  background-color:white;
  justify-content: flex-end;
}
/*
.visitProfileButton {
  position: absolute;
  width: 200px;
  height: 66px;
  left: 940px;
  top: 275px;
  color: white;
  font-size: 28;
  background: #1B4965;
  border-radius: 10px;
  z-index: 7;
}*/

.visitProfileButton {
  position: absolute;
  width: 200px;
  background: #1B4965;
  border-radius: 10px;
  height: 66px;
  color: white;
  font-size: 28;
  margin-top: -150px;
}

.filler {
  background-color: #E5E5E5;
  height: 330px;
  width: auto;
}

/**************** View Caretaker Profile *************/
.logoAndDetails {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 80px;
}

.logo {
  display: flex;
  background: white;
  border-radius: 10px;
  margin-left: 130px;
}

.viewProfileLogo {
  width: 240px;
  height: 240px;
  border-radius: 80px;
}

.viewDetails {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: white;
  border-radius: 10px;
  margin-left: 50px;
  width: 800px;
  padding: 20px;
}

.viewDetailsRightColumn {
  margin-left: 40px;
}

.ReviewsandPrice {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 800px;
  margin-left: 130px;
}

.ReviewsHeading {
  margin-top: 10px;
  margin-left: 195px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.ReviewList {
  width: 600px;
  height: 440px;
  background-color: white;
  margin-left: -135px;
  margin-top: 40px;
  border-radius: 20px;
  position: absolute;
  padding: 23px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.viewpricetableheading {
  margin-left: 560px;
  margin-top: 10px;
}

.viewReviewPricingTable {
  width: 500px;
  height: 440px;
  background-color: white;
  margin-left: 700px;
  margin-top: 50px;
  border-radius: 20px;
  position: absolute;
  padding: 23px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.BidforCaretaker {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 650px;
  height: 220px;
  background-color: white;
  margin-left: 450px;
  margin-top: 960px;
  border-radius: 20px;
  position: absolute;
  padding: 23px;
  color: #1B4965;
}

.BidAmount {
  margin-top: 10px;
  margin-left: 10px;
}

.BidButton {
  padding: 10px;
}

.textRightOfBid {
  padding: 40px;
}

/********** Successful bid sent ************/
.happydoggo {
  height: 200px;
  width: 300px;
  border-radius: 120px;
}

.BidSentSuccessful {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 650px;
  height: 100px;
  background-color: white;
  margin-left: 440px;
  margin-top: 280px;
  border-radius: 20px;
  position: absolute;
  padding: 23px;
  color: #1B4965;
}

/******* Bids received and submitted ********/
.bidsDivider {
  display: flex;
  justify-content: center;
  background-color: #E5E5E5;
  padding: 0px;
  margin-top: -40px;
}

.bidsList {
  width: 800px;
  height: 200px;
  background-color: white;
  margin-left: 290px;
  margin-top: 180px;
  border-radius: 20px;
  position: absolute;
  padding: 50px;
}

.listOfBids {
  width: 1000px;
  height: 380px;
  background-color: white;
  margin-left: 200px;
  margin-top: 200px;
  border-radius: 20px;
  position: absolute;
  padding: 45px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.bidDetails {
  width: 1000px;
  height: 420px;
  background-color: white;
  margin-left: 260px;
  margin-top: 200px;
  border-radius: 20px;
  position: absolute;
  padding: 25px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.firstcol {
  margin-left: 0px;
}

.secondcol {
  margin-left: 220px;
}

.petProfileAndRatings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.petProfile {
  width: 500px;
  height: 260px;
  background-color: white;
  margin-left: 240px;
  margin-top: 500px;
  border-radius: 20px;
  position: absolute;
  padding: 25px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.petphoto {
  width: 180px;
  height: 180px;
  border-radius: 180px;
}

.petDescription {
  padding-left: 30px;
}

.petRatings {
  width: 500px;
  height: 260px;
  background-color: white;
  margin-left: 800px;
  margin-top: 500px;
  border-radius: 20px;
  position: absolute;
  padding: 25px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.petRatingRight {
  padding-left: 40px;
}

/******** User Profile ********/
.profileLogoandCreditCard {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.profilePhoto {
  border-radius: 80px;
}

.profileLogo {
  margin-left: 300px;
  width: 360px;
  height: 300px;
  border-radius: 80px;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
}

.changePhoto {
  margin-top: 30px;
  margin-left: 340px;
}

.CreditCards {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 120px;
}

.CreditCardHeading {
  margin-top: 10px;
  margin-left: 195px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.CreditCardList {
  width: 600px;
  height: 230px;
  background-color: white;
  margin-left: -135px;
  margin-top: 40px;
  border-radius: 20px;
  position: absolute;
  padding: 23px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

/******* Register New Card Page *******/
.form-check-input[type=checkbox].filled-in:checked+label:after,
label.btn input[type=checkbox].filled-in:checked+label:after {
  border: 2px solid #4285f4;
  background-color: #4285f4;
}

.mb-4-5 {
  margin-bottom: 24px;
}

.registerCreditCardRight {
  width: 1500px;
  background: #E5E5E5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 180px;
}

.profileUserDetails {
  width: 500px;
  height: 650px;
  background-color: white;
  margin-left: 700px;
  margin-top: -370px;
  border-radius: 20px;
  position: absolute;
  padding: 30px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.petOwnerProfileUserDetails {
  width: 500px;
  height: 500px;
  background-color: white;
  margin-left: 750px;
  margin-top: 140px;
  border-radius: 20px;
  position: absolute;
  padding: 30px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.editProfile {
  padding: 0px;
}

.myPets {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.petOwnerPets {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -100px;
  margin-left: 520px;
}

.myPetProfile {
  width: 500px;
  height: 260px;
  background-color: white;
  margin-left: 230px;
  margin-top: 320px;
  border-radius: 20px;
  position: absolute;
  padding: 25px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.addPets {
  width: 500px;
  height: 320px;
  background-color: white;
  margin-left: 820px;
  margin-top: 320px;
  border-radius: 20px;
  position: absolute;
  padding: 25px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.addPets {
  justify-content: center;
  padding-top: 120px;
}

.newPetPhoto {
  margin-top: -75px;
  margin-left: 0px;
}

.newPetDescription {
  padding: 20px;
  margin-top: -120px;
}

/************ My Bookings *********************/
.myBookingsBox {
  position: absolute;
  width: 1081px;
  height: 600px;
  left: 300px;
  top: 250px;
  background: #FFFFFF;
  border-radius: 20px;
  padding: 30px;
}

/************ PCS Profile Page *****************/
.pcsProfile {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.editPCSProfile {
  width: 500px;
  height: 530px;
  background-color: white;
  margin-left: 700px;
  margin-top: -370px;
  border-radius: 20px;
  position: absolute;
  padding: 30px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

/********** PCS Salaries Page *************/
.Salaries {
  width: 1230px;
  height: 130px;
  background-color: white;
  margin-left: 140px;
  margin-top: 150px;
  border-radius: 20px;
  position: absolute;
  padding: 25px;
  display: flex;
  justify-content: flex-start;
}

.salariesLeftCol {
  width: 375px;
  background-color: white;
  margin-left: 100px;
}

.sallariesRightCol {
  width: 375px;
  background-color: white;
  margin-bottom: 50px;
}

.salary {
  position: center;
  width: 388px;
  height: 105px;
  left: 1300px;
  top: 232px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 100;
  line-height: 80px;
  text-align: center;
  margin-left: 500px;
  margin-bottom: 250px;
  color: #1B4965;
}

.filterBox {
  width: 800px;
  height: 260px;
  background-color: white;
  margin-left: 370px;
  margin-top: 330px;
  border-radius: 20px;
  position: absolute;
  padding: 23px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.filterText {
  margin-right: 50px;
  margin-top: 70px;
}

.filteredSalary {
  width: 800px;
  height: 300px;
  background-color: white;
  margin-left: 370px;
  margin-top: 650px;
  border-radius: 20px;
  position: absolute;
  padding: 23px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

/******** PCS Statistics Page ************/
.subTitle {
  display: flex;
  justify-content: center;
  background-color: #E5E5E5;
  padding: 0;
  margin-top: -40px;
}

.Statistics {
  display: flex;
  justify-content: left;
  background-color: #E5E5E5;
  padding: 0;
  margin-top: 100px;
  margin-left: 100px;
  flex-direction: row;
}

.statisticsLeftSection {
  width: 350px;
  height: 250px;
  background-color: white;
  margin-left: 65px;
  margin-top: -50px;
  border-radius: 20px;
  position: absolute;
  padding: 23px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.statisticsMiddleSection {
  width: 350px;
  height: 250px;
  background-color: white;
  margin-left: 495px;
  margin-top: -50px;
  border-radius: 20px;
  position: absolute;
  padding: 23px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.statisticsRightSection {
  width: 350px;
  height: 250px;
  background-color: white;
  margin-left: 925px;
  margin-top: -50px;
  border-radius: 20px;
  position: absolute;
  padding: 23px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.firstBoxBigText {
  /* 316 */
  position: absolute;
  width: 259px;
  height: 176px;
  left: 295px;
  top: 267px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 150px;
  line-height: 176px;
  /* identical to box height */
  text-align: center;
  color: #1B4965;
  margin-left: -250px;
  margin-top: -265px;
}

.firstBoxSmallText {
  /* Number of Pets Taken Care */
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  margin-top: 150px;
}

.secondBoxBigText {
  /* 18 */
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 150px;
  line-height: 176px;
  /* identical to box height */
  text-align: center;
  color: #1B4965;
  margin-left: 70px;
  margin-top: -50px;
}

.secondBoxSmallText {
  /* Underperforming Care Takers */
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  margin-right: 30px;
  margin-top: 150px;
}

.thirdBoxBigText {
  /* Jan 2020 */
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 75px;
  line-height: 88px;
  text-align: center;
  color: #1B4965;
  margin-top: -50px;
}

.thirdBoxSmallText {
  /* Month with Highest Number of Jobs */
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  margin-top: 150px;
  margin-right: 30px;
}

.UnderperformingBoxLabel {
  /* Underperforming Care Takers */
  position: absolute;
  width: 397px;
  height: 34px;
  left: 248px;
  top: 555px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: #000000;
}

.underperformingBox {
  /* Rectangle 7 */
  position: absolute;
  width: 1081px;
  height: 200px;
  left: 240px;
  top: 607px;
  background: #FFFFFF;
  border-radius: 20px;
  padding: 30px;
}


/********************** Our Services ******************/
.happypets {
  height: 500px;
  width: 800px;
  border-radius: 30px;
}

.servicesWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  height: auto;
  margin-top: -100px;
}

.ourServices {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 600px;
  height: 340px;
  background-color: white;
  margin-left: 120px;
  margin-top: 480px;
  border-radius: 20px;
  position: absolute;
  padding: 23px;
  color: #1B4965;
}

.specificServices {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 600px;
  height: 340px;
  background-color: white;
  margin-left: 800px;
  margin-top: 480px;
  border-radius: 20px;
  position: absolute;
  padding: 23px;
  color: #1B4965;
}

.service1 {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
}


.service1Logo {
  margin-left: -220px;
  margin-top: 30px;
}

.petGroomingText {
  justify-content: flex-start;
  margin-left: -10px;
}

.dogGrooming {
  height: 80px;
  width: 120px;
}

.service2Logo {
  margin-left: -220px;
  margin-top: -30px;
}

.dogWalking {
  height: 80px;
  width: 120px;
}

.dogWalkingText {
  justify-content: flex-start;
  margin-left: 0px;
}
