<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include('headerSignedIn.ejs') %>
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<head>
  <meta charset="utf-8">
  <title></title>
</head>


<body>
  <div class="parent">
    <div class="mainTitle">
      <h1>Update your Caretaker Profile!</h1>
    </div>

    <div class="instructionTitle">
      <h6>Please fill in only the fields you need to update!</h6>
    </div>

    <div class="sitterFTUpdateBox">
      <form action="/editFullTimeSitterProfile" method="POST" id="UpdateFullTimeSitterForm">
        <div class="form-group">
          <label for="petsWillingToTakeCare"><b>Pets you are willing to take care of</b></label>
          <input type="text" class="form-control" id="petsWillingToTakeCare" name="petsWillingToTakeCare" placeholder="Dogs, Cats, Parrots">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="petServices">Pet Services Provided</label>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="petServices" name="petServices" value="Pet Grooming">
              <label class="form-check-label" for="Pet Grooming">
                Pet Grooming
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="petServices" name="petServices" value="Full Day Pet Care">
              <label class="form-check-label" for="Full Day Pet Care">
                Full Day Pet Care
              </label>
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="petTransferMethod">Pet Transfer Method</label>
            <select id="petTransferMethod" name="petTransferMethod" class="form-control">
              <option id="petTransferMethod" name="petTransferMethod" selected>Choose</option>
              <option id="petTransferMethod" name="petTransferMethod" value="Car">Car</option>
              <option id="petTransferMethod" name="petTransferMethod" value="Bike">Bike</option>
              <option id="petTransferMethod" name="petTransferMethod" value="Cycle">Cycle</option>
              <option id="petTransferMethod" name="petTransferMethod" value="Walk">Walk</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="FullPartTime">Full/Part Time</label>
            <select id="FullPartTime" name="FullPartTime" class="form-control">
              <option selected>Choose</option>
              <option id="FullPartTime" name="FullPartTime" value="Full Time">Full Time</option>
              <option id="FullPartTime" name="FullPartTime" value="Part Time">Part Time</option>
            </select>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="startLeaveDate"><b>Start Leave Date</b></label>
              <input type="date" class="form-control" id="startLeaveDate" name="startLeaveDate">
            </div>
            <br>
            <div class="form-group col-md-6">
              <label for="endLeaveDate"><b>End Leave Date</b></label>
              <input type="date" class="form-control" id="endLeaveDate" name="endLeaveDate">
            </div>
          </div>
        </div>

        <button type="submit" class="updateFTSitter" name="button">
          Update!
        </button>
      </form>
    </div>
    <div class="noLeaveErrorBox">
      <% if(message.length > 0) { %>
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= message %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
    <% } %>
  </div>
    <div class="filler">
    </div>
    <div class="filler">
    </div>
    <div class="filler">
    </div>
  </div>
</body>

</html>
