<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel="shortcut icon" href="favicon\favicon.ico">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="icon" href="/images/favicon.ico" type="image/favicon.ico">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <title>PetCaringServices</title>
  <nav class="navbar navbar-expand-lg" style="background-color: #1B4965">
    <a class="navbar-brand" href="/" style="color:#FFCC96">PetCaringServices</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/searchSitter" style="color:#FFFFFF">Search Our Sitters <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ourServices" style="color:#FFFFFF">Our Services </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sitterRegistration" style="color:#FFFFFF">
            Become a Sitter
          </a>
        </li>
      </ul>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Username Use EJS
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/myProfile">My Profile</a>
          <a class="dropdown-item" href="/mySitterProfile">My Sitter Profile</a>
          <a class="dropdown-item" href="/sitterRegistration">Become a Sitter</a>
          <a class="dropdown-item" href="/myBookings">My Bookings</a>
          <a class="dropdown-item" href="/myBids">My Bids</a>
          <a class="dropdown-item" href="/">Log Out</a>
        </div>
      </div>

    </div>
  </nav>
</head>
