<!DOCTYPE html>
<html lang="en" dir="ltr">
<% if (typeof user != 'undefined') { %>
  <%- include('headerSignedIn.ejs') %>
<% } else { %>
  <%- include('headerSignedOut.ejs') %>
<% } %>
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <div class="parent">
      <div class="mainTitle">
        <h1>Services for Every Dog and Cat</h1>
      </div>

      <div class="firstRightSection">
        <div class="firstRightSectionLeftTexts">
          <div class="title1">
            <h2>Boarding</h2>
          </div>
          <div class="text1">
            <p>Perfect if you need overnight pet care.</p>
          </div>
          <div class="dropdown-divider"></div>
          <div class="title2">
            <h2>Dog Walking</h2>
          </div>
          <div class="text2">
            <p>Whenever your pet needs a walk.</p>
          </div>
        </div>
        <div class="firstRightSectionRightImage">
          <img class="doggo" src="https://www.witsend4pets.co.uk/blog/wp-content/uploads/2020/08/jamie-street-s9Tf1eBDFqw-unsplash-768x576.jpg" alt="">
        </div>
      </div>

      <div class="bookings">
        <div class="bookingstext1">
          <p>Book with pet sitters you can trust.</p>
        </div>
        <% if (typeof user != 'undefined') { %>
          <button type="button" class="bookingsbutton" name="button" onclick="location.href = '/searchSitter'">
            <p class="bookButtonText">Book your next sitter!</p>
          </button>
        <% } else { %>
          <button type="button" class="bookingsbutton" name="button" onclick="location.href = '/signIn'">
            <p class="bookButtonText">Book your next sitter!</p>
          </button>
        <% } %>
      </div>
    </div>
</body>


</html>
