<!DOCTYPE html>
<html lang="en" dir="ltr">
<% if (typeof user != 'undefined') { %>
  <%- include('headerSignedIn.ejs') %>
<% } else { %>
  <%- include('headerSignedOut.ejs') %>
<% } %>
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <div class="parent">
    <div class="noRateResults">
      <% if (typeof averagePrice == 'undefined' || averagePrice.averageprice == null) { %>
        <h2 class ="noRateResultsHeader">Search Results</h2>
        <h3 class ="noRateResultsText">No results found!</h3>
      <% } %>
    </div>
    <% if (averagePrice.averageprice != null) { %>
      <div class="mainTitle">
        <img class="ratingsImage" src="https://images.unsplash.com/photo-1602548713974-864ebb0804c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
      </div>
      <div class="ratesResults">
          <h3><em>The Average Rate is :     $<%= averagePrice.averageprice.toFixed(2)%></em></h3>
      </div>

      <div class="testimonials">
        <div class="statisticsLeftSection">
          <div class="firstBoxBigText">
            <img class="firsttestimonialPhoto" src="https://images.unsplash.com/photo-1562505209-85d7688af8a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
          </div>
          <div class="firstBoxSmallText">
            <p>"PetCaringServices provides affordable and quality services!"</p>
          </div>
        </div>

        <div class="statisticsMiddleSection">
          <div class="secondBoxBigText">
            <img class="secondtestimonialPhoto" src="https://images.unsplash.com/photo-1591429123866-87ab92420cb0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
          </div>
          <div class="secondBoxSmallText">
            <p><b>"Prices are reasonable and caretakers are amazing."</b></p>
          </div>
        </div>

        <div class="statisticsRightSection">
          <div class="thirdBoxBigText">
            <img class="thirdtestimonialPhoto" src="https://images.unsplash.com/photo-1523221197642-4a2e4b6a3dcf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
          </div>
          <div class="thirdBoxSmallText">
            <p><b>"Great service quality for those on a tight budget."</b></p>
          </div>
        </div>
      </div>
      <% } %>

      <div class="filler">

      </div>
      <div class="filler">

      </div>

    </div>
</body>

</html>
